@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Alex</h1>
    Today is for <b> <i>MVC</i></b>
    <br />
    @DateTime.Now.ToString()
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
